html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  text-align: center;
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent div, #mainContent img {
    position: absolute; }

.rect {
  fill: none;
  stroke: #C0C0C0;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000; }

#vLines {
  top: 56px;
  left: 107px;
  width: 136px;
  height: 136px; }

#hLines {
  top: 83px;
  left: 82px;
  width: 138px;
  height: 138px; }

.drawLine {
  width: 1px;
  background: #c0c0c0; }

.drawhLine {
  height: 1px;
  background: #c0c0c0; }

#outerCircle {
  fill: none;
  stroke: #c0c0c0;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dashoffset: 1200;
  stroke-dasharray: 1200; }

#bgExit {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px; }
