@import "_settings";
@import "_config";
@import "_mixins";

body {
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#mainContent {
    position: relative;

    width: $width;
    height: $height;
    overflow: hidden;
    box-sizing: border-box;

    cursor: pointer;
    transform: rotate(0deg);

    text-align:center;
    border: 1px solid black;                                                    
    background: $backgroundColor ;
    background-size: cover;

    div,img{
        position: absolute;
    }
}
// #Box{
//    left: 0px;
//     top: 0px;
//     transform-origin: 50% 50%;
//     width:169.3px;
//     height:169.3px;
  
   
// }
.rect{
    fill:none;
    stroke:#C0C0C0;
    stroke-width:2;
    stroke-miterlimit:10;
    stroke-dashoffset:1000;
    stroke-dasharray: 1000;

}

#vLines{
    top: 56px;
    left: 107px;
    width: 136px;
    height: 136px;
    // background:red;
    
  }
  #hLines{
    top: 83px;
    left: 82px;
    width:138px;
    height:138px;
  
  }
.drawLine{
    width:1px;
    background:#c0c0c0;

}
.drawhLine{
    height:1px;
    background:#c0c0c0;  
}
#outerCircle{
    fill:none;
    stroke:#c0c0c0;
    stroke-width:2;
    stroke-miterlimit:10;
    stroke-dashoffset:1200;
    stroke-dasharray: 1200; 
  }
  #bgExit {
    position: absolute;
    top: 0;
    left: 0;

    width: $width;
    height: $height;
}

  